.card-custom {
    background-size: cover;
    background-position: center;
    height: 300px;

    position: relative; /* Necesario para que stretched-link funcione */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
   /* Asegura que la superposición no se salga del contenedor */
    transition: transform 0.3s ease; /* Transición suave para el zoom */
}
.card-custom:hover {
    transform: scale(1.02); /* Pequeño zoom para resaltar */
}
.card-title {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9); /* Sombra para resaltar el título */
    color: rgb(252, 253, 253);
    text-decoration: none; /* Elimina el subrayado */
    position: relative; /* Asegura que el título esté por encima de la superposición */
    z-index: 2; /* Coloca el título por encima de la capa de oscurecimiento */
   
    margin-top: 0;
}



.card-custom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Oscurece la tarjeta */
    transition: background-color 0.3s ease; /* Transición suave para el oscurecimiento */
    z-index: 1; /* Coloca la capa detrás del título */
}

.card-custom:hover::before {
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece más al pasar el mouse */
}


.card-custom a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: inherit;
}

.DropDownAdmProf{
text-decoration: none;
}