.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #2c6367 !important;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 0.5rem 1rem;
  height: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.bg-dark{
    background-color: rgba(44, 99, 103, 0.8)!important;
}
.navbar-nav .nav-link {
    color: #fff;
    padding: 0.5rem 1rem;
  }
  
  .navbar-nav .nav-link:hover {
    color: #9bea7e; /* Cambia el color cuando pasas el mouse */
  }
  @media (max-width: 320px) {
    #logoSN {
      max-width: 50px; /* Adjust logo size */
    }
  
    .form-control-sm {
      font-size: 0.8rem; /* Smaller font size for input */
    }
  
    .navbar {
      padding: 0.5rem; /* Adjust navbar padding */
    }
  }
 
  .bi{
    color: azure;
  }
  .dropdown-menu{
    background-color: rgb(178, 218, 158);
    margin: 0;
    padding: 10px;
  
  }
