body.with-fixed-navbar {
  padding-top: var(--nav-h);
}

.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1040; /* por encima del contenido */
  background-color: #06475B; /* fallback s칩lido */
}

#logosaludnet {
  height: 60px;
  width: auto;
  object-fit: contain;
}
.saludnet-text{
  font-size: 1.8rem;
}
/* Links */
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 500; /* un toque m치s fuerte */
  letter-spacing: 0.04em;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #80e7e9;

}

/* Dropdown (tu color) */
.dropdown-menu {
  background-color: rgb(178, 218, 158);
  margin: 0;
  padding: 10px;
}

/* Responsive */
@media (max-width: 800px) {
  #logosaludnet {
    max-height: 55px;
    margin-right: 0.5rem;
    margin-left: 0.2rem;
  }
  .saludnet-text {
    
    display: none;
  }
}
@media (max-width: 320px) {
  #logosaludnet {
    max-width: 28px;
    max-height: 24px;
  }
}

.navbar.navbar-dark::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;

  pointer-events: none; /* no interfiere con clics */
}
.navbar-logo {
  height: 36px;      /* tama침o visual del logo */
  width: auto;       /* mantiene proporci칩n */
  display: block;
}
