/* Reports.css */

/* Contenedor principal */
.reports-container {
    padding: 20px;
    background-color: #eccfeb;
    border-radius: 8px;
    max-width: 1000px;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  /* Título ocupando todo el ancho */
  .reports-container h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  /* Contenedor de filtros y tabla en columnas */
  .reports-content {
    display: flex;
  }
  
  /* Contenedor de los filtros (izquierda) */
  .filter-container {
    width: 25%;
    padding-right:40px;
  }
  
  .filter-container label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }
  
  .filter-container select,
  .filter-container input[type="date"],
  .filter-container input[type="number"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .filter-container button {
    background-color: #a200ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .filter-container button:hover {
    background-color: #9d46c0;
  }
  
  /* Contenedor de la tabla (derecha) */
  .table-container {
    width: 75%;
  }
  
  .table-container .tableContainer {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
  }
  
  .tableContainer th, .tableContainer td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .tableContainer th {
    background-color: #9d46c0;
    color: white;
  }
  
  .tableContainer td {
    background-color: #faf7ee;
    color: #333;
  }
  
  .tableContainer tr:nth-child(even) td {
    background-color: #e0e4da;
  }
  