html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
   background: #fff;
  font-family: Arial, sans-serif;
}
#root {
  min-height: 100vh;
  background: #fff;
  padding-top: 60px;
  box-sizing: border-box;
}


